---
import { getCurrentTimeInItaly, formatTimeForItaly } from "../lib/helpers";
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<script>
  import { onCleanup, onMount } from "solid-js";
  import { formatTimeForItaly } from "../lib/helpers";

  let interval: ReturnType<typeof setInterval>;

  function updateClock() {
    const timeDisplay = document.getElementById("timeDisplay");
    const now = new Date();

    if (timeDisplay) {
      timeDisplay.textContent = formatTimeForItaly(now);
      timeDisplay.setAttribute("datetime", now.toISOString());
    }
  }

  onMount(() => {
    interval = setInterval(updateClock, 1000);
  });

  onCleanup(() => {
    clearInterval(interval);
  });
</script>

<Card colSpan="lg:col-span-1" rowSpan="md:row-span-1">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
  <time
    datetime=""
    id="timeDisplay"
    class="text-xl xl:text-2xl xl:whitespace-nowrap w-50 xl:w-100 h-[calc(100%-8px)] font-serif flex justify-center items-center"
  >
    {formatTimeForItaly(getCurrentTimeInItaly())}
  </time>
</div>
<Pulse />
</div>
</Card>
